GATEWAY_OTLP_GRPC_ENDPOINT=central-collector.example.net:4317
AGENT_HOST_NAME=application-host-01
APP_LOG_HOST_PATH=/var/log/my-application
APP_LOG_GLOB=*.log
OTEL_SERVICE_NAME=my-application
OTEL_SERVICE_NAMESPACE=applications
OTEL_DEPLOYMENT_ENVIRONMENT=production
